
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.9;
    overflow: hidden; 
}
.main-container{
    background-color: whitesmoke;
    width: 75%;
    max-width: 1120px;
    margin: auto;
}
/* style navbar items */
a{
    color: whitesmoke;
    text-decoration: none;
}
/* remove style (bullet point) from nav list items */
li{
    list-style: none;
}
.container{
    width: 75%;
    max-width: 1120px;
    margin: auto; 
}

header{
    background-color: #39b846;
    color: whitesmoke;
    padding: 0.5rem,1rem;
    width: 75%;
    max-width: 1120px;
    margin: auto;
}

.header{
    display: flex;
    align-items: centre;
    justify-content: space-between;  
    box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.5);  
}

.nav-links{
display: flex;
align-items: center;
/* centre nav links vertically on header */
justify-content: center;
}

.nav-links li{
    margin: 0 1rem;
    font-size: 20px;
}

.nav-links li a:hover {
    display: block; 
    color: yellowgreen;
    transition: all, 0.5s, ease;
}
/* must not display burger menu initially */
.burger{
    display: none;
    margin-top: 60px;
}
/* style burger menu */
.burger div{
    background-color: whitesmoke;
    width: 30px;
    height: 3px;
    margin: 0 0 8px 0;
}

.burger:hover{
    opacity: 0.8;
    cursor: pointer;
}

.content-location{
    margin: 2rem 0;
    background-color: #3ACBE8;
}
.content-condition{
    margin: 2rem 0;
    background-color:#cff09e;
}
.content-mealtime{
    margin: 2rem 0;
    background-color: #fbda03;
}
.btn{
    padding: 0.5rem 2rem;
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
}
.header img {
    border: 3px solid #39b846;
}

/* --- */
.content-location {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.5);
  }
  .location-image {
    border: 2px solid #3ACBE8; 
    
  }
  .parent-location {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;  
    border: 2px solid #3ACBE8; 
  }
  .location-text  {
    color: white; 
    text-align: center;
    font-size: 25px;
    border: 2px solid #3ACBE8;
    /* width: 100%;  */
    flex:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  .location-menu {
    font-size: 22px;
    text-align: center;
    border: 2px solid #3ACBE8; 
    padding-right: 5px; 
    padding-bottom: 30px;
    flex:auto;
    height: 130px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .location-menu label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 22px;
    color: whitesmoke;
  }
  .location-menu input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 22px;
    padding: 0 5px 0 5px;
  }
  .location-menu select {
    width: 10em;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 22px;
  }
  /* --- */
  .content-condition {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.5);
  }
  .condition-image {
    border: 2px solid #cff09e; 
  }
  .parent-condition {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;  
    border: 2px solid #cff09e; 
  }
  .condition-text  {
    color: white; 
    text-align: center;
    font-size: 25px;
    border: 2px solid #cff09e;
    /* width: 100%;  */
    flex:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  .condition-menu {
    font-size: 22px;
    text-align: center;
    border: 2px solid #cff09e; 
    padding-right: 5px; 
    padding-bottom: 30px;
    flex:auto;
    height: 130px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .condition-menu label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 22px;
    color: whitesmoke;
  }
  .condition-menu input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 22px;
    padding: 0 5px 0 5px;
  }
  .condition-menu select {
    width: 10em;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 22px;
  }
  /* --- */
  .content-mealtime {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.5);
  }
  .mealtime-image {
    border: 2px solid #fbda03; 
  }
  .parent-mealtime {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;  
    border: 2px solid #fbda03; 
  }
  .mealtime-text  {
    color: white; 
    text-align: center;
    font-size: 25px;
    border: 2px solid #fbda03;
    /* width: 100%;  */
    flex:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  .mealtime-menu {
    font-size: 22px;
    text-align: center;
    border: 2px solid #fbda03; 
    padding-right: 5px; 
    padding-bottom: 30px;
    flex:auto;
    height: 130px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .mealtime-menu label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 22px;
    color: whitesmoke;
  }
  .mealtime-menu input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 22px;
    padding: 0 5px 0 5px;
  }
  .mealtime-menu select {
    width: 10em;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 22px;
  }

  /* --- */
.dropdown{
    display: inline-block;
    
}
.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    
}
.dropdown option{
    display: block;
    color: black;
    text-decoration: none;
    /* padding: 10px 10px; */
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}
.dropdown option:hover{
    background-color: hsl(0, 0%, 90%);
}
/* ---- */




/* .content-condition img {
    border: 2px solid #39b846;
    display: flex; 
  } */
  .content-mealtime img {
    border: 2px solid #fbda03; 
    display: flex;
  }

 /* img:hover{ */
    /* opacity: 0.8; */
    /* cursor: pointer; */
/* }  */

.btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

/*style buttons in offers sections */
#mealSelectButton {
  text-align: center;
  background-color: red;
  color: #fff;
  padding: 10px;
  display: block;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.5);
  font-size: 22px;
}

#mealSelectButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

footer{
    background-color: #39b846;
    min-height: 130px;
    width: 75%;
    max-width: 1120px;
    margin: auto;
    box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.5);
}


/* rule for screens <= 700 pixels */

@media screen and (max-width: 800px) {
    body{
        
        overflow: scroll;
    }
    /* navbar mobile */
    .burger{
        display: block; 
    }
    .nav-links {
        display: block; 
        background-color: #39b846;
        position: absolute;
        top: 8.8rem;
        right: -50%;
        width: 25%;  
        opacity: 0.9;
        transition: all, 0.5s, ease;
    }

    .nav-links li a:hover {
        display: block; 
        color: yellowgreen;
        transition: all, 0.5s, ease;
    }

    .show-nav-links{
        right: 165;
    }

    .nav-links li{
        height: 15%;
        font-size: 20px;
    }

    .burger:hover{
    color: yellowgreen;
    }

    .head-container{
        width: 75%;
    }

    .dropdown{
      padding-top: 20px;
  }

    /* location container for mobile */
    .location-image img{
        padding-top: 20px;
        padding-left: 100px;  
    }
    /* condition container for mobile */
    .condition-image img{
        padding-top: 20px;
        padding-left: 100px;  
    }
    /* mealtime container for mobile */
    .mealtime-image img{
      padding-top: 20px;
      padding-left: 100px;  
  }
       
}