*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    overflow: scroll;
    width: 75%; 
    max-width: 1120px; 
    margin: 0 auto;
}
.main-container{
    background-color: whitesmoke;
    margin: auto;
    height: 100vh;
}
/* style navbar options */
a{
    color: whitesmoke;
    text-decoration: none;
    border: 3px solid black;
}
header{
    background-color: #39b846;
    color: whitesmoke;
    padding: 0.5rem,1rem;
    margin: auto;
    border: 3px solid black;
}

.navbar-main{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.5);
    border: 3px solid yellow;  
}

.nav-links{
display: flex;
align-items: center;
margin: 0 2em 0 0;
/* centre nav links vertically on header */
justify-content: center;
border: 3px solid blue;  
}

.nav-links li{
    list-style: none;
    margin: 0 1rem;
    font-size: 20px;
    border: 3px solid purple;
}

.nav-links li a:hover {
    display: block; 
    color: yellowgreen;
    transition: all, 0.5s, ease;
}
/* must not display burger menu initially */
.burger{
    display: none;
    margin-top: 20px;
    border: 3px solid yellow;  
}
/* style burger menu */
.burger div{
    background-color: whitesmoke;
    width: 30px;
    height: 3px;
    margin: 0 0 10px 0;
    border: 3px solid paleturquoise;  
}

.burger:hover{
    opacity: 0.8;
    cursor: pointer;
}

.selections {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: rgb(204, 204, 204);
    padding-top: 15px;
    font-size: 20px;
    border: 3px solid blue;
  }
  .selections h3 {
    margin-right: 15px; /* spacing */
    border: 3px solid green; 
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin-bottom: 15px;; 
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Evenly space the items */
    border: 3px solid brown;  
    margin-top: 15px;; 
  }
  .controls button,
  .controls h1 {
    font-size: 20px;
    padding: 10px;
    width: 200px;
    height: 50px;
    background-color: #39b846;
    border: 2px solid yellow; 
    margin-bottom: 15px; 
  }

  .controls button:hover {
    display: block; 
    color: yellowgreen;
    transition: all, 0.5s, ease;
    border: 2px solid white; 
    cursor: pointer;
    
}

  .container-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(204, 204, 204);
    margin: auto;
    border: 3px solid purple;  
  }


/* Carousel Styling */
.carousel-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    background: rgb(204, 204, 204);
    margin: auto;
    border: 3px solid orange;  
}
.carousel{
    /* position: relative; */
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid white;
}
.wrapper{
    display: flex; 
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    border: 3px solid blue;
    width: 100%;
    height: 100%;
}
.wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    
}

#meal-display{
    font-size: 30px;
    color: red;
    border: 3px solid blue;
    margin-bottom: 15px;; 
}


.information{
    display: flex;
    background: rgb(204, 204, 204);
    margin: auto;
    border: 10px solid pink;
}

.nutrition, .sources{
    display: inline-block;  
    border: 3px solid blanchedalmond;
    width: 50%;
    box-sizing: border-box; /* Optional: includes padding and border in the total width */
    padding: 20px; /* Optional: add padding for better spacing */
    
}

.nutrition h1, .sources h1{
    text-align: center; /* Center the text content horizontally */
    border: 3px solid blue;
    font-size: 30px;
}

.nutrition table {
    width: 100%;
    border-collapse: collapse; /* Optional: to collapse the table borders */
    margin-top: 10px; /* Add margin for spacing */
}

.nutrition th, .nutrition td {
    padding: 8px;
    border: 1px solid #ddd; /* Optional: border styling */
    text-align: center;
}



.nutrition h1 {
    margin-bottom: 10px;
}
ul{
    list-style-type: none; /* Remove default list styling */
    border: 3px solid red; 
    font-size: 20px;
}
.dropdown{
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    padding: 20px;
    border: 3px solid green;
    margin: auto;
    text-align: center;
    width: 100%;
    
}
#city{
    font-size: 20px;
    border: 3px solid yellowgreen;
    width: 80%;  
}

footer{
    background-color: #39b846;
    min-height: 130px;
    margin: auto;
    box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 700px) {
    .main-container{  
        
        overflow: scroll;
    }
    /* navbar mobile */
    .burger{
        display: block; 
    }
    .nav-links {
        display: block; 
        background-color: #39b846;
        position: absolute;
        top: 8.8rem;
        right: -50%;
        width: 25%;  
        opacity: 0.9;
        transition: all, 0.5s, ease;
        display: none;
    }

    .nav-links li a:hover {
        display: block; 
        color: yellowgreen;
        transition: all, 0.5s, ease;
    }

    .show-nav-links {
      right: 165px;
      display: block;
  }

    .nav-links li{
        height: 15%;
        font-size: 20px;
    }

    .burger:hover{
    color: yellowgreen;
    
    }

    .head-container{
        flex: auto;   
    }

    .dropdown{
      padding-top: 20px;
  }
   
       
}